<!DOCTYPE html>
<html lang="en">
<head>
  <title>View Parcel</title>
</head>
<body>
  <h1>Your Parcel</h1>
  <ul>
    <li>Height: @ViewBag.parcel.Height</li>
    <li>Width: @ViewBag.parcel.Width</li>
    <li>Length: @ViewBag.parcel.Length</li>
    <li>Weight: @ViewBag.parcel.Weight</li>
    <li>Cost: $@ViewBag.total</li> 
  </ul>
</body>
</html>